*.pyc
ckitcore/Debug/
ckitcore/Release/
ckitcore/ipch/
ckitcore.exp
ckitcore.lib
ckitcore.pdb
ckitcore/ckitcore.sdf
ckitcore/ckitcore.suo
ckitcore/ckitcore.vcxproj.user
ckitcore.pyd
ckitcore/mac/ckitcore.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ckitcore/mac/ckitcore.xcodeproj/project.xcworkspace/xcuserdata/craftware.xcuserdatad/UserInterfaceState.xcuserstate
ckitcore/mac/ckitcore.xcodeproj/xcuserdata/craftware.xcuserdatad/xcschemes/ckitcore.xcscheme
ckitcore/mac/ckitcore.xcodeproj/xcuserdata/craftware.xcuserdatad/xcschemes/xcschememanagement.plist
ckitcore/mac/ckitcore/ckitcore-Prefix.pch
ckitcore.so
ckitcore/mac/ckitcore.xcodeproj/project.xcworkspace/xcshareddata/ckitcore.xccheckout
